/*body {
    background-image: url("../images/dog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}*/

html { 
  background: url(../images/dog.jpg) no-repeat center center fixed; 
  -webkit-background-size: contain, auto;
  -moz-background-size: contain, auto;
  -o-background-size: contain, auto;
  background-size: contain, auto;
}